.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
}

.product-form label,
.product-form input {
  display: block;
  width: 100%;
}

.product-form input {
  border: 1px solid rgb(43, 240, 230);
  font: inherit;
  border-radius: 2px;
}

button {
  font: inherit;
  border: 1px solid rgb(102, 37, 223);
  color: rgb(102, 37, 223);
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: rgb(102, 37, 223);
  color: white;
}
